<!-- app/templates/auth/login.html-->
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}

{% block body %}

<div class="content-section">
    <br />
    <div class="text-center" style="width: 40%; margin: auto;">

    </div>
    <br />
    <fieldset style="margin-bottom: 150px;">
        <div class="center" style="font-size: 13pt;">
            <legend class="text-center"><u>Reset Password Request</u></legend>
            <br />
            {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
        </div>

    </fieldset>


</div>




{% endblock body %}