<!-- app/templates/auth/login.html-->
{% import "bootstrap/utils.html" as utils %} {% import "bootstrap/wtf.html" as
wtf %} {% extends "layout.html" %} {% block title %}{{ title }}{% endblock %} {%
block body %}

<div class="content-section">
  <fieldset class="mb-4">
    <div class="center" id="reset-form">
      <legend class="text-center"><u>Reset Password</u></legend>
      <br />
      {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
    </div>
  </fieldset>
</div>

{% endblock body %}
