{% extends "layout.html" %} {% block title%}{{ title }}{% endblock title%} {%block
body %}
<h2 class="container text-center mb-5"><u>Transporters</u></h2>
{% if transporters.items %}
{% for transporter in transporters.items %}
<article class="media body-section container">
  <img
    src="{{ url_for('static', filename='profile_pics/' + transporter.image_file )}}"
    alt="Profile picture"
    class="article-img rounded-circle"
    style="height: 90px; width: 100px;"
  />

  <div class="media-body freelancer-body">
    <h2>
      <a
        class="article-title"
        href="{{ url_for('transporter.get_transporter', transporter_id=transporter.id) }}"
        >{{ transporter.last_name }}</a
      >
    </h2>
    <p class="article-content">{{ transporter.first_name }}</p>
    {% for res in resumes %} {% if transporter.id == res.user_id %}
    <p>{{ res.description | markdown | truncate }}</p>
    {% endif %} {% endfor %}
  </div>
</article>
{% endfor %} {% else %}
<h1 class="text-center">No Freelancers Yet.</h1>
{% endif %}
<div class="container paginate">
  {% for page_num in transporters.iter_pages(left_edge=1, right_edge=1,
  left_current=1, right_current=2) %} {% if page_num %} {% if transporters.page
  == page_num %}
  <a
    class="btn btn-info mb-4"
    href="{{ url_for('transporter.transporters', page=page_num) }}"
    >{{ page_num }}</a
  >
  {% else %}
  <a
    class="btn btn-outline-info mb-4"
    href="{{ url_for('transporter.transporters', page=page_num) }}"
    >{{ page_num }}</a
  >
  {% endif %} {% else %} ...... {% endif %} {% endfor %}
</div>

{% endblock body %}
