@import url("https://fonts.google.com/specimen/Muli?selection.family=Muli");
@import url("https://fonts.google.com/specimen/Catamaran?selection.family=Catamaran");
html,
body {
  width: 100%;
  height: 100%;
  background-color: #eff1f2;
}
body {
  font-family: "Verdana", "Helvetica", "Arial", "sans-serif";
}
a {
  color: #fdcc52;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
a:hover,
a:focus {
  color: #fcbd20;
}
hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}
hr.light {
  border-color: white;
}
p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  font-family: "Catamaran", "Helvetica", "Arial", "sans-serif";
  font-weight: 200;
  letter-spacing: 1px;
  color: #000 !important;
}
#mainNav .navbar-brand {
  color: #000;
  font-family: "Catamaran", "Helvetica", "Arial", "sans-serif";
  font-weight: 200;
  letter-spacing: 1px;
}
#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:focus {
  color: #fcbd20;
}
#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #000;
}
#mainNav .navbar-nav > li > a {
  font-size: 12pt;
  font-family: "Arial", "sans-serif";
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #fff !important;
}
#mainNav .navbar-nav > li > a.active {
  color: #fdcc52 !important;
  background-color: transparent;
}
#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}
#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}
#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #fdcc52;
  border-radius: 5px;
}
#index-description {
  margin-left: 50px;
  padding-top: 100px;
  margin-right: 50px;
}
#index-description-body {
  padding: 15px;
}
#pro-div p {
  padding: 15px;
}
#hir-div p {
  padding: 15px;
}
.desc-title {
  padding-top: 15px;
  text-decoration: underline;
}
.help-block {
  color: red;
}
@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover,
  #mainNav .navbar-brand:focus {
    background-color: #fcbd20;
    color: #000;
    padding: 5px;
    border-radius: 5px;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: white;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand:hover,
  #mainNav.navbar-shrink .navbar-brand:focus {
    color: #fdcc52;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #fdcc52;
  }
}
header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: url("../img/f.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
header.contact-masthead {
  position: relative;
  width: 100%;
  margin-top: -35px;
  padding-top: 0px;
  padding-bottom: 100px;
  background: url("../img/f.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
header.masthead .header-content {
  margin-bottom: 100px;
  text-align: center;
}
header.masthead .header-content h1 {
  font-size: 30px;
}
header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}
header.masthead .device-container .screen img {
  border-radius: 3px;
}
footer {
  padding: 25px 0;
  text-align: center;
  color: #fff;
  background-color: #222222;
}
footer p {
  font-size: 12px;
  margin: 0;
}
footer ul {
  margin-bottom: 0;
}
footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}
footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
  text-decoration: none;
}
.center {
  margin: auto;
  width: 40%;
  padding: 10px;
}
.content-section {
  padding: 0;
  border-top: 1px solid #e7e7e7;
}
.nav-link {
  margin-left: 5px;
}
.nav-link:hover {
  background: #fcbd20;
  color: #000 !important;
}
.body-section {
  margin-top: 15px;
  border-radius: 5px solid gray;
  background-color: #fff;
  padding: 15px 10px 15px 15px;
  width: 100%;
}
.article-img {
  padding-right: 10px;
}
.article-metadata {
  margin-top: 25px;
  padding-right: 50px;
}
.update-section {
  margin-top: 15px;
  margin-bottom: 15px;
}
.paginate {
  margin-top: 15px;
  width: 50%;
}
.profile {
  margin: auto;
  width: 40%;
}
.contact-section {
  padding: 5rem 0 0;
}
.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #64a19d;
}
.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: "Menlo";
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
.contact-section .card hr {
  border-color: #64a19d;
  border-width: 0.25rem;
  width: 3rem;
}
.contact-section .social {
  margin-top: 10rem;
}
.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}
.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.contact-section .social a:active {
  color: #fff;
}
#contact-title {
  background: rgba(0, 0, 0, 0.7);
  padding-top: 15px;
  padding-bottom: 15px;
}
.main {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0px;
}
.resume-body {
  padding-left: 35px;
  padding-right: 35px;
}
.resume-body h3 {
  text-decoration: underline;
  font-size: 15pt;
}
.resume-body p,
li,
h4 {
  font-size: 12pt;
}
.resume h2 {
  display: inline-block;
  margin-top: 15px;
}
.edit {
  float: right;
  font-size: 12pt;
}
.table {
  background-color: #fff;
}
.img-jigsaw {
  height: 150px;
  margin-left: 420px;
}
@media (max-width: 760px) {
  .center input,
  label,
  p {
    width: 300px;
    margin-left: -80px;
  }
  .remember {
    width: 15px !important;
    margin-left: 0px !important;
  }
  .jobseeker,
  .greeting,
  .email {
    margin-left: 50px;
    font-size: 12pt;
  }
  .resume-body p {
    margin-left: 10px;
    font-size: 1pt;
  }
  .resume-body h3 {
    font-size: 12pt;
    margin-left: 6px;
  }
  .resume h2 {
    font-size: 15pt;
  }
  #resume-form textarea {
    margin-left: -100px;
    width: 360px;
    font-size: 10pt;
  }
  #resume-form label {
    font-size: 15pt;
    text-decoration: underline;
  }
  .media-body h2 {
    font-size: 17pt;
  }
  .media-body h5 {
    font-size: 12pt;
  }
  .media-body p {
    font-size: 11pt;
    margin-left: 6px;
    width: 80%;
  }
  .media {
    margin-top: -32px;
  }
  #project-form textarea {
    margin-left: -100px;
    width: 350px;
    font-size: 10pt;
  }
  #project-form input {
    margin-left: -100px;
    width: 350px;
    font-size: 10pt;
  }
  #project-form label {
    font-size: 12pt;
    text-decoration: underline;
  }
  .article-img {
    height: 50px;
    width: 60px;
  }
  .freelancer-body p {
    font-size: 10pt;
  }
  .body-section {
    margin-top: 15px;
    width: 90%;
    padding-bottom: 7px;
    padding-right: 0px;
  }
  .article-metadata h5 {
    font-size: 11pt;
  }
  .article-metadata p {
    font-size: 10pt;
  }
  .article-metadata h3 {
    font-size: 12pt;
    text-decoration: underline;
  }
  .employer,
  .employer-greeting,
  .employer-email {
    margin-left: 65px;
    font-size: 12pt;
  }
  .employer-bio {
    width: 500px;
    margin-left: -150px;
  }
  .jobs-posted {
    margin-left: 65px;
  }
  .img-jigsaw {
    margin-left: 100px;
  }
  #jigsaw {
    margin-left: 50px;
  }
}
@media (max-width: 750px) {
  .center input,
  label,
  p {
    width: 300px;
    margin-left: -95px;
  }
  .remember {
    width: 15px;
    margin-left: 0px;
  }
  .jobseeker,
  .greeting,
  .email {
    margin-left: -5px;
    font-size: 12pt;
  }
  .resume-body p {
    margin-left: -5px;
    width: 90%;
    font-size: 10pt;
  }
  .resume-body h3 {
    font-size: 12pt;
    margin-left: -7px;
  }
  .resume h2 {
    font-size: 15pt;
  }
  .resume-form textarea {
    margin-left: -100px;
    width: 350px;
    font-size: 10pt;
  }
  .resume-form {
    margin-bottom: 15px;
  }
  .resume-form label {
    font-size: 15pt;
    text-decoration: underline;
  }
  .media-body h2 {
    font-size: 17pt;
  }
  .media-body h5 {
    font-size: 12pt;
  }
  .media-body p {
    font-size: 11pt;
    margin-left: 6px;
    width: 80%;
  }
  .media {
    margin-top: 0px;
    margin-bottom: 15px;
  }
  .project-form textarea,
  input {
    margin-left: -100px;
    width: 350px;
    font-size: 10pt;
  }
  .project-form {
    margin-bottom: 15px;
  }
  .project-form label {
    margin-left: -100px;
    font-size: 12pt;
    text-decoration: underline;
  }
  .article-img {
    height: 40px;
    width: 50px;
  }
  .freelancer-body p {
    font-size: 10pt;
  }
  .body-section {
    margin-top: 15px;
    width: 95%;
    padding-bottom: 7px;
    padding-right: 0px;
  }
  .article-metadata h5 {
    font-size: 11pt;
  }
  .article-metadata p {
    font-size: 10pt;
    width: 95%;
  }
  .article-metadata {
    margin-bottom: 7px;
  }
  .article-metadata h3 {
    font-size: 12pt;
    text-decoration: underline;
  }
  .employer,
  .employer-greeting,
  .employer-email {
    margin-left: 65px;
    font-size: 12pt;
  }
  .employer-bio {
    width: 500px;
    margin-left: -150px;
  }
  .jobs-posted {
    margin-left: 65px;
  }
  #toggleable-form input {
    width: 90%;
    margin-left: 20px;
  }
  #toggleable-form label {
    width: 300px;
    margin-left: 20px;
  }
  #toggleable-form .btn {
    width: 40%;
    margin-left: 10px;
  }
  .job-metadata p {
    width: 95%;
  }
  .job-form textarea {
    margin-left: -100px;
    width: 320px;
    font-size: 10pt;
  }
  .job-form {
    margin-bottom: 15px;
  }
  .job-form label {
    margin-left: -95px;
    font-size: 12pt;
    text-decoration: underline;
  }
  .btn-modal {
    width: 65px;
    height: 38px;
    margin-left: -155px;
    font-size: 12pt;
    padding: 2px;
  }
  .alert {
    width: 100%;
  }
  .img-jigsaw {
    margin-left: 100px;
  }
  #jigsaw {
    margin-left: 50px;
  }
}
@media (max-width: 667px) {
  .center input,
  label,
  p {
    width: 300px;
    margin-left: -95px;
  }
  .remember {
    width: 15px;
    margin-left: 0px;
  }
  .freelancer-bio {
    padding: 0px;
    margin: 0px;
  }
  .jobseeker,
  .greeting,
  .email {
    margin-left: 60px;
    font-size: 12pt;
  }
  .resume-body p {
    margin-left: 10px;
    font-size: 10pt;
  }
  .resume-body h3 {
    font-size: 12pt;
    margin-left: 6px;
  }
  .resume h2 {
    font-size: 15pt;
  }
  #resume-form textarea {
    margin-left: -120px;
    width: 450px;
    font-size: 10pt;
  }
  #resume-form .btn {
    margin-left: -120px;
    width: 450px;
    font-size: 12pt;
  }
  #resume-form label {
    font-size: 15pt;
    text-decoration: underline;
    margin-left: -120px;
  }
  .media-body h2 {
    font-size: 17pt;
  }
  .media-body h5 {
    font-size: 12pt;
  }
  .media-body p {
    font-size: 11pt;
    margin-left: 6px;
  }
  .media {
    margin-top: -32px;
  }
  #project-form textarea {
    margin-left: -120px;
    width: 450px;
    font-size: 10pt;
  }
  #project-form input {
    margin-left: -120px;
    width: 450px;
    font-size: 10pt;
  }
  #project-form label {
    font-size: 12pt;
    text-decoration: underline;
    margin-left: -120px;
  }
  .article-img {
    height: 50px;
    width: 60px;
  }
  .freelancer-body p {
    font-size: 10pt;
  }
  .body-section {
    margin-top: 15px;
    width: 90%;
    padding-bottom: 7px;
    padding-right: 0px;
  }
  .article-metadata h5 {
    font-size: 11pt;
  }
  .article-metadata p {
    font-size: 10pt;
  }
  .article-metadata h3 {
    font-size: 12pt;
    text-decoration: underline;
  }
  .employer,
  .employer-greeting,
  .employer-email {
    margin-left: 65px;
    font-size: 12pt;
  }
  .employer-bio {
    width: 500px;
    margin-left: -150px;
  }
  .jobs-posted {
    margin-left: 65px;
  }
  .btn-modal {
    width: 65px;
    height: 38px;
    margin-left: -155px;
    font-size: 12pt;
    padding: 2px;
  }
  .alert {
    width: 100% !important;
  }
  .img-jigsaw {
    margin-left: 100px;
  }
  #jigsaw {
    margin-left: 50px;
  }
  #employer,
  #freelancer {
    margin-right: -145px;
  }
  .checkbox {
    margin-left: -50px;
  }
  #register-form {
    margin-left: 170px;
  }
  #register-form input {
    width: 350px;
  }
  #login-form {
    margin-left: 170px;
  }
  #login-form input {
    width: 350px;
  }
  #remember {
    margin-left: 50px !important;
  }
}
@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  header.masthead .header-content h1 {
    font-size: 50px;
  }
  header.masthead .device-container {
    max-width: 325px;
  }
}
