<!--app/templates/freelancer/dashboard.html-->
{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block
title %}{{ title }}{% endblock %} {% block body%}
<main role="main" class="main">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="container h-100" style="margin-top: 15px;">
        <div class="my-auto">
          <div class="header-content mx-auto">
            <div
              class="mb-5 ml-2 text-center text-dark freelancer-bio"
              style="background: rgba(250,250,250); padding: 15px;"
            >
              <small class="display-5 mb-5 mt-3">
                {{ date.strftime("%A") }}<br />{{ date.strftime("%x") }}
              </small>
              <p class="lead jobseeker"><u>You are a Job Seeker</u></p>
              <img
                style="height: 190px; width: 200px;"
                class="rounded-circle profile-img"
                src="{{ image_file }}"
              />
              <h4 style="margin-top: 5px;"><u>Name</u></h4>
              <p class="greeting">
                {{ current_user.first_name }} {{ current_user.last_name }}
              </p>
              <h4><u>Email</u></h4>
              <p class="email">{{ current_user.email }}</p>
              <p class="display-4"></p>
              <button
                onclick="toggle()"
                class="btn btn-primary"
                style="margin-bottom: 15px;"
              >
                Edit Info
              </button>
              <div style="display: none" id="toggleable-form">
                {{ wtf.quick_form(form, enctype="multipart/form-data", button_map={'submit': 'primary'}) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Right side of the dashboard-->
    <div class="col-md-7 col-sm-12">
      <div
        class="content-section mt-3"
        style="background: rgba(250,250,250); padding: 15px;"
      >
        <div class="bio">
          {% if resume %} {% for res in resume %}
          <div class="resume container">
            <h2 class="text-center"><u>Resume</u></h2>
            <h2 class="edit">
              <a
                href="{{ url_for('freelancer.update_resume', res_id=res.id)}}"
                class="btn btn-outline-info btn-sm"
                >Edit</a
              >
            </h2>
          </div>
          <br />
          <div class="resume-body">
            <h3>About {{ current_user.last_name }}</h3>
            <p class="about_description">{{ res.description | markdown }}</p>
            <h3>Tools</h3>
            <p>{{ res.tools | markdown }}</p>
            <h3>Experience</h3>
            <p>{{ res.experience | markdown }}</p>
            <h3>Skills</h3>
            <p>{{ res.skills | markdown }}</p>
            <h3>Projects</h3>
            {% if projects %} {% for project in projects %}
            <div class="project-body">
              <a
                href="{{ url_for('freelancer.project', project_id=project.id) }}"
                >{{ project.title | markdown }}</a
              >
              <p>{{ project.tools_used | markdown | truncate }}</p>
              <p>{{ project.description | markdown | truncate }}</p>
            </div>
            {% endfor %} {% else %}
            <h1 class="text-center">No Projects Yet</h1>
            <div class="container">
              <p class="text-center" id="jigsaw">Click the JigSaw Piece to get started</p>
              <a href="{{ url_for('freelancer.post_project') }}"
                ><img
                  src="{{ url_for('static', filename='./img/jigsaw.png')}}"
                  alt="jigsaw piece"
                  class="img-jigsaw"
              /></a>
            </div>

            {% endif %}
          </div>
          {% endfor %} {% else %}
          <h1 class="text-center">No Resume Yet</h1>
          <p class="lead text-center" id="jigsaw">Click the JigSaw Piece to get started</p>
          <a href="{{ url_for('freelancer.post_resume') }}"
            ><img
              class="img-jigsaw"
              src="{{ url_for('static', filename='./img/jigsaw.png')}}"
              alt="jigsaw piece"
          /></a>

          {% endif %}
        </div>
      </div>
    </div>
    <!--End  of right side of dashboard-->
  </div>
</main>
{% endblock body %}
